#TabsToolbar .tab-background[selected] {

background:linear-gradient(to bottom,#90C0DE 60%,#81858C 19%,#0f0f0e 35%,#90C0DE)!important;

border-radius: 10px 10px 0px 0px !important;

opacity:0.9;

}

.tabbrowser-tab[selected] {

border-width: 1.5px !important;

border-color: #7F7F7F !important;

border-bottom: transparent !important;

border-top-style: solid !important;

border-right-style: solid !important;

border-left-style: solid !important;

color: moccasin !important;

min-width: 130px !important;

}

.tabbrowser-tab:not([pinned])[fadein], .tabbrowser-tab[pinned]

{

margin-top: 4px !important;

margin-left: 1px !important;

margin-right: 1px !important;

border-radius: 10px 10px 0px 0px !important;

max-height: 24px !important;

min-height: 24px !important;

}

tab:not([selected="true"] ) {

background-color: hsla(210,55%,25%,.9) !important;

border-width: 1px !important;

border-color: #7F7F7F !important;

border-bottom: transparent !important;

border-top-style: solid !important;

border-right-style: solid !important;

border-left-style: solid !important;

max-height: 24px !important;

min-height: 24px !important;

}
